<!DOCTYPE html>
<html>
  <head></head>
  <bordt>
    <p>
      You have received a message from the site's contactform, from
      <%= "#{ @name }, #{ @email }, " %>
    </p>
    <P>
      <%= @body %>
    </P>
  </bordt>
</html>